Django==4.2
djangorestframework
django-filter==23.1
django-cors-headers==3.14.0
django-mysql==4.9.0
django-extensions
drf-yasg==1.21.5
PyMySql
mysql
mysqlclient
mysql_connector
numpy
pandas
matplotlib



