Django==4.2.1
djangorestframework
django-filter==23.2
django-cors-headers==4.0.0
django-mysql==4.9.0
django-extensions
drf-yasg==1.21.5
PyMySql
mysql
mysqlclient
mysql_connector
numpy
pandas
matplotlib
mod_wsgi
